/*PESO DE CLASES
1-!important
2-ID
3-CLASS
4-SELECTOR/ETIQUETA
*/


@import "./globales/reset";
@import "./globales/header";
@import "./globales/footer";
@import "./ofertas/main";
@import "./queris/queris";
@import "./folletos/folletos";


#main {
    width:100%;
    height: auto;
    background-color: white;
    
}


h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.descuentos {
    display: flex;             
    flex-wrap: wrap;           
    justify-content: center;   
    gap: 10px;                 
    padding: 20px;
}

.descuentos a{
    flex: 1 1 calc(20% - 10px);  
    max-width: calc(20% - 10px); 
    box-sizing: border-box;      
    border: 3px solid black;    
    border-radius: 50%;          
    overflow: hidden; 
    img {
        width: 100%;                
        height: auto;               
    }
}

@media (max-width: 768px) {
    .descuentos a{
      flex: 1 1 calc(33.33% - 10px); 
      max-width: calc(33.33% - 10px);
    }
}

@media (max-width: 480px) {
    .descuentos a {
      flex: 1 1 calc(50% - 10px);  
      max-width: calc(50% - 10px);
    }
}


.categoriasMenu {
    display:flex;
    justify-content: space-between;
    align-items: center;
   
    
    gap: 10px;
    width: 100%;
    height: auto;
  
}

.categoriasLista,  .categoriasImg {
    flex: 1;                
}

.categoriasLista{
    display: flex;
    height: 100%;
    align-items: center;
}
.categoriasImg {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;

    img{
        width:100%;
        height:auto;
        padding: 2px;
       
    }
}








