/*PESO DE CLASES
1-!important
2-ID
3-CLASS
4-SELECTOR/ETIQUETA
*/


/*FORMATEO DE DOC*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
 
}




#header {
    background-color: hwb(57 37% 2%);
}



.logotop img {
    width: 150px; 
    height: auto;  
    position: relative; 
    align-items: center;
}
A

#main {
    width:100%;
    height: auto;
    background-color: white;
    
}


.img_banner {
    width: 1920px; /* La imagen ocupará el 100% del ancho del contenedor */
    height: 250px; /* La altura se ajustará automáticamente para mantener la proporción */
    max-width: 1920px; /* Puedes establecer un ancho máximo para evitar que se agrande demasiado en pantallas grandes */
    display: flex; /* Asegura que la imagen no tenga espacios en blanco alrededor */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.titulos_productos {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 100px;

}
h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

#productos_imagenes {
    display: inline-flex;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 100px;
    justify-content: space-between;
    
}
.titulo_fresco {
    display: flex;

    
}
.titulo_bebidas {
    display: flex;
    margin-right: 60px;
}

.limpieza_perfumeria {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-right: 340px;
}
.limpieza_perfumeria img{
   
    width: 200px;
    height: 200px;
    border: 2px solid;
}

.productos_frescos {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-right: 250px;

}

.productos_frescos img{
    
    width: 200px;
    height: 200px;
    border: 2px solid;
}

.productos_bebidas{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.productos_bebidas img{
    
    width: 200px;
    height: 200px;
    border: 2px solid;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FF5D55;
    

    
}

.redes_foot img {
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-items: center;
    margin-right: 12px;
    transition: 1s;
}
.redes_foot img :last-child {
    margin-right: 0px;
}

.titulo_redes h3 {

    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-style: italic;
    transition: 1s;
}
.map_foot img { 
    width: 35px;
    height: 35px;
    align-items: center;
    margin-right: 12px;
    transition: 1s;
}

.map_foot:hover , .titulo_redes:hover , .redes_foot:hover{
    filter: drop-shadow(15px 10px 3px rgba(0, 0, 0, 0.311));
    margin-bottom: 20px;
    transition: 1s;
}
---------

#main_page1 {
    width: 1920px;
    height: auto;
    background-color:antiquewhite;
    display: flex;
    position: relative;

}

.h2_page1 {
    margin-bottom: 15px;
}
.contactanos {
    display: flex;
    width: 100%;
    align-items: center;
    

}

.contactanos_form , .contactanos_map {
    width: 50%;
   
}

.contactanos_form ul {
    display: flex;
    width: 100%;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    
}

.contactanos_form ul li input {
    flex-grow: 1; 
    padding: 10px;
    font-size: 16px;
}







/* #main_page1 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.div_principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_page1 {
    display: flex;
    width:100px;
    height: auto;
}
    


.form_page1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
.form_page1 ul li {
    display: flex;
    
   
}

.form_page1 input {
    width: 500px;
    height: 30px;
}

h4 

.img_contactanos iframe {
    display: flex;
    justify-content: center;
    
    
}


/* .img_contactanos img {
    margin-right: 500px;
    margin-top: 20px;
    width: 400px;
    height: 400px; }*/
    
     */
