#header {
    background-color: rgb(250, 242, 94);
}



.logotop img {
    width: 150px; 
    height: auto;  
    position: relative; 
    align-items: center;
}

.titulo__login {
    font-size:x-large;
}

@media (max-width: 600px) {
    .header__logo {
        width: 150px;
        height: auto;

    }
    .header__login {
        width: 60px;

    }
    .header__login p {
        font-size: large;
    }


}