#header {
    background-color: rgb(250, 242, 94);
}



.logotop img {
    width: 150px; 
    height: auto;  
    position: relative; 
    align-items: center;
}

.titulo__login {
    font-size:x-large;
}
